html,
body {
  margin: 0;
  padding: 0;
}
.layout {
  background: #1c3d77;
  height: 200px;
}
/* form style */
.cardForm {
  top: 10px;
}
.cardForm .card-header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background-color: transparent;
  border: none;
}
.formCustomHeight {
  height: 20px;
}
.cardForm .card-body {
  background-color: #e9ecef;
  margin: 0 20px 20px 20px;
}
.formInputCustom {
  padding: 0;
}
.formInputCustom input {
  height: 30px;
  border-radius: 1px;
}
.formInputCustom button {
  width: 100%;
}
.buttonCustom {
  width: 100%;
  height: 100%;
}
.formGroupCustom {
  margin-bottom: 7px;
}
/* .col-form-label__custom {
  padding-left: 0;
  padding-bottom: 0;
} */
/* table style */
.cardTable {
  top: 20px;
}
.cardTable .card-header {
  height: 50px;
  line-height: 40px;
  background-color: transparent;
  border: none;
}
.theadTableCustom {
  background-color: #c1e2fc;
  border: none;
}
